.experience h2 {
    color: #00bd95;
    text-shadow: 2px 2px 15px rgba(0, 189, 149, 0.51);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

@media only screen and (max-width: 320px) {
    .experience {
        width: 300px;
    }

    .experience h2 {
        font-size: 30px;
    }
}