.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.avatar {
    margin-top: 80px;
    background: #00bd95;
    border-radius: 100%;
    width: 270px;
    height: 270px;
    box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
    -webkit-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
    -moz-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
    position: relative;
}

.avatar img {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -190px;
}

.about {
    width: 500px;
    margin-bottom: 120px;
    margin-top: 80px;
}

.about h4 {
    font-size: 38px;
    display: inline;
    /* background: rebeccapurple; */
}

.about h4 span {
    color: #00bd95;
    text-shadow: 2px 2px 15px rgba(0, 189, 149, 0.51);
}

.about p {
    font-size: 20px;
}


@media only screen and (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    .avatar {
        margin-top: 80px;
        background: #00bd95;
        border-radius: 100%;
        width: 230px;
        height: 230px;
        box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -webkit-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -moz-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        position: relative;
    }

    .avatar img {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -160px 0 0 -160px;
    }

    .about {
        width: 300px;
        text-align: justify;
        padding: 7px;
    }

    /* 
    .about p {
        font-size: 18px;
        font-style: italic;
    } */

    .about h4 {
        font-size: 25px;
        display: block;
        text-align: center;
    }


}

@media only screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    .avatar {
        margin-top: 80px;
        background: #00bd95;
        border-radius: 100%;
        width: 230px;
        height: 230px;
        box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -webkit-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -moz-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        position: relative;
    }

    .avatar img {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -160px 0 0 -160px;
    }

    .about {
        width: 350px;
        text-align: justify;
        /* padding: 7px; */
    }

    /* 
    .about p {
        font-size: 18px;
        font-style: italic;
    } */

    .about h4 {
        font-size: 25px;
        display: block;
        text-align: center;
    }


}

@media only screen and (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    .avatar {
        margin-top: 80px;
        background: #00bd95;
        border-radius: 100%;
        width: 230px;
        height: 230px;
        box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -webkit-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -moz-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        position: relative;
    }

    .avatar img {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -160px 0 0 -160px;
    }

    .about {
        width: 400px;
        text-align: justify;
    }

    .about h4 {
        font-size: 25px;
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .avatar {
        margin-top: 80px;
        background: #00bd95;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -webkit-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        -moz-box-shadow: -2px 10px 400px -11px rgba(0, 189, 149, 0.75);
        position: relative;
    }

    .avatar img {
        width: 280px;
        height: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -140px 0 0 -140px;
    }

    .about {
        width: 500px;
        margin-bottom: 120px;
        margin-top: 80px;
    }
}