/* .skills-container {
    display: flex;
    justify-content: space-between;
} */


.skills-container h2 {
    color: #00bd95;
    text-shadow: 2px 2px 15px rgba(0, 189, 149, 0.51);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.skills-container p {
    font-size: 20px;
    text-align: justify;
}

.items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.items li {
    margin: 20px 30px;
}

.items img {
    width: 86px;
    height: 86px;
}